.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the page */
}

.content {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* Background color for the content */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the content */
}

.select-container {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Button background color on hover */
}